/* COLOR */
/* FONT COLOR */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
body {
  background-color: #0a0c1b;
  color: #ffffff;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  text-align: center;
}

section {
  margin: 87px auto;
  background-color: #1c1938;
  width: 88%;
  border-radius: 10px;
  overflow: hidden;
}
section figure {
  width: 100%;
  background-color: #a25ad7;
}
section figure .desktop-img {
  display: none;
}
section figure img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  mix-blend-mode: multiply;
}
section article {
  width: 80%;
  margin: 30px auto;
}
section article h1 {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
}
section article h1 span {
  color: #a25ad7;
}
section article > p {
  opacity: 0.75;
  line-height: 25px;
}
section article ul {
  margin-top: 45px;
}
section article ul li {
  margin-bottom: 30px;
}
section article ul li p:first-child {
  font-size: 1.6em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
section article ul li p:last-child {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  font-size: 0.8em;
  opacity: 0.6;
  letter-spacing: 1.5px;
}

.attribution a {
  color: #a25ad7;
}

@media (min-width: 1080px) {
  section {
    display: flex;
    flex-direction: row-reverse;
  }
  section figure .mobile-img {
    display: none;
  }
  section figure .desktop-img {
    display: block;
  }
  section article {
    width: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  section article h1, section article p, section article ul {
    width: 75%;
  }
  section article h1 {
    font-size: 2.3em;
    line-height: 45px;
  }
  section article ul {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
