section{
    margin: 87px auto;
    background-color: $mainColor;
    width: 88%;
    border-radius: 10px;
    overflow: hidden;
    figure{
        width: 100%;
        background-color: $thirdColor;
        .desktop-img{
            display: none;
        }
        img{
            width: 100%;
            height: auto; 
            opacity: .8;
            mix-blend-mode: multiply; 
        }
    }
    article{
        width: 80%;
        margin: 30px auto;
        h1{
            font-family: $titleFont;
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 25px;
            span{
                color: $thirdColor;
            }
        }
        &>p{
            opacity: .75;
            line-height: 25px;
        }

        ul{
            margin-top: 45px;
            li{
                margin-bottom: 30px;
                p{
                    &:first-child{
                        font-size: 1.6em;
                        font-family: $titleFont;
                        font-weight: bold;
                    }
                    &:last-child{
                        text-transform: uppercase;
                        font-family: $titleFont;
                        margin-top: 10px;
                        font-size: .8em;
                        opacity: 0.6;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }
}

.attribution{
    a{
        color: $thirdColor
    }
}

@media (min-width: 1080px){
    section{
        display: flex;
        flex-direction: row-reverse;
        figure{
            .mobile-img{
                display: none;
            }
            .desktop-img{
                display: block;
            }
        }
        article{
            width: 105%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            h1, p, ul{
                width: 75%;
            }
            h1{
                font-size: 2.3em;
                line-height: 45px;
            }
            ul{
                margin-top: 55px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

