
/* COLOR */

$mainColor: #1c1938;
$secondaryColor: #0a0c1b; 
$thirdColor: #a25ad7;

/* FONT COLOR */
$textColor: #ffffff;

/* FONT */
$titleFont: "Inter", sans-serif;
$textFont: "Lexend Deca", sans-serif;

